@font-face {
    font-family: sharkFont;
    src: url('./BlueSharkSans.ttf');
}

.textOutput {
    display: flex;
    justify-content: center;
    background-color: white;
}

.noText {
    background-color: cadetblue;
}

.sharkFont {
    font-family: sharkFont;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
}